.navbar {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: -25px;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: white;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;

}

.nav-menu.active {
  left: 1434px;
  top: 73px;
  height: 195px;
  border-radius: 20px;
  box-shadow: 5px 0 10px 5px lightgray;
  z-index: 999;
}

.nav-text {
  display: flex;
  height: 48px;
}

.nav-text a {
  text-decoration: none;

  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}



.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}
svg{
  color: black;
}